#root { 
  margin: 0 auto;
  padding: 0 auto; 
  height: 100vh;
  font-family: sans-serif;
  background-color: white !important;
  font-family: var(--main-font), sans-serif;
}
   
.nav a{
  padding: 0 10px;
}
